name: Deploy Original

on:
  push:
    branches: [ "original" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: latest

    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0    # Fetch full Git history to allow the README generator to accurately determine translation status

    - name: Install and build
      run: |
        npm install
        npm run build

    - name: Upload artifact
      id: pages_upload
      uses: actions/upload-pages-artifact@v4
      with:
        path: ${{ github.workspace }}/dist

    - name: Notify
      if: ${{ github.repository == 'XeroAlpha/sapi-typedoc' }}
      run: |
        curl -sS -H "Title: ${{ secrets.NTFY_TITLE_ORIGINAL }}" -d "${{ steps.pages_upload.outputs.artifact_id }}" ${{ secrets.NTFY_URL }} >/dev/null 2>&1
