name: Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: latest

    - name: Checkout
      uses: actions/checkout@v5

    - name: Install and build
      run: |
        npm install
        npm run build
    
    - name: Setup GitHub Pages
      id: pages_setup
      uses: actions/configure-pages@v5
      continue-on-error: true

    - name: Upload artifact to GitHub pages
      id: pages_upload
      if: ${{ steps.pages_setup.outcome == 'success' }}
      uses: actions/upload-pages-artifact@v4
      with:
        path: ${{ github.workspace }}/dist

    - name: Deploy to GitHub Pages
      if: ${{ steps.pages_setup.outcome == 'success' }}
      id: deployment
      uses: actions/deploy-pages@v4

    - name: Notify
      if: ${{ steps.pages_setup.outcome == 'success' && github.repository == 'XeroAlpha/sapi-typedoc' }}
      run: |
        curl -sS -H "Title: ${{ secrets.NTFY_TITLE }}" -d "${{ steps.pages_upload.outputs.artifact_id }}" ${{ secrets.NTFY_URL }} >/dev/null 2>&1
